body {
  background-color: #e66765;
  font-family: Alcubierre;
}


.title {
  color: #dd2625;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 2px 2px grey;
  background-color: white;
  font-size: 52px;
  font-weight: bolder;
  text-align: center;
  border: 1px solid black;
  padding: 10%;
  margin: 10%;
}

.menu {
  color: #d34a45;
  box-shadow: 1px 2px 2px grey;
  background-color: white;
  font-size: 22px;
  font-weight: bolder;
  text-align: center;
  border: 1px solid white;
  margin: 10%;
}

.menu a:link {
  color: #d34a45;
}

.information {
  color: #d34a45;
  box-shadow: 1px 2px 2px grey;
  background-color: white;
  text-align: justify;;
  border: 1px solid black;
  padding: 2% 10% 2% 10%;
  margin: 6%;
  text-decoration: none;
}

.petProjects {
  color: white;
  box-shadow: 1px 2px 2px grey;
  background-color: #d34a45;
  text-align: justify;;
  border: 1px solid black;
  padding: 2% 10% 2% 10%;
  margin: 6%;
  text-decoration: none;
}

.information a:link {
  color: #d34a45;
}

.subtitle {
  font-size: 32px;
  font-weight: bolder;
}

.description {
  color: grey;
}

.flip {
  -webkit-perspective: 800;
   /*width: 400px;
   height: 200px;*/
    position: relative;
    margin: 50px auto;
}
.flip .card.flipped {
  -webkit-transform: rotatex(-180deg);
}
.flip .card {
  /*width: 100%;
  height: 100%;*/
  -webkit-transform-style: preserve-3d;
  -webkit-transition: 0.5s;
}
.flip .card .face {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-backface-visibility: hidden ;
  z-index: 2;
    font-size: 3em;
    text-align: center;
    line-height: 200px;
}
.flip .card .front {
  position: absolute;
  z-index: 1;
    background: black;
    color: white;
    cursor: pointer;
}
.flip .card .back {
  -webkit-transform: rotatex(-180deg);
    /*background: blue;
    background: white;*/
    /*color: black;*/
    cursor: pointer;
}
