body {
  background-color: #f1ece8;
}


.title {
  color: #ff747f;
  box-shadow: 1px 2px 2px grey;
  background-color: white;
  font-size: 52px;
  font-weight: bolder;
  text-align: center;
  border: 1px solid black;
  padding: 10%;
  margin: 10%;
}

.aboutMe {
  color: #ff747f;
  box-shadow: 1px 2px 2px grey;
  background-color: white;
  text-align: justify;;
  border: 1px solid black;
  padding: 2% 10% 2% 10%;
  margin: 6%;
  text-decoration-color: black;
  text-decoration: none;
}

.subtitle {
  font-size: 32px;
  font-weight: bolder;
}
