<div class="information">
  <div class="subtitle"><p>MY STORY</p></div>
  <div class="description">
    <span>I fell in love with programming back in December of 2014 when I began building mobile apps for corporate conferences. I would spend my nights and weekends reading and watching tutorials and eventually joined <a href='http://www.codeforcharlotte.org/'>Code for Charlotte</a> to pursue my hobby for programming. I loved <i>(and still love)</i> meeting people in tech and hearing about their career journey as programmers. Though I had no idea what I was doing, I was determined, passionate, and excited to soak up as much knowledge as I possibly could.</span>
    <br>
    <span>Quickly, my hobby began to seep into projects at work and in March of 2015, I began researching a way to take my skills to the next level. After considering going back for a masters in Computer Science and a few bootcamps, I made the decision to attend a 6-month, Full Stack Immersive program at <a href='http://www.galvanize.com/'>Galvanize</a> in Denver, Colorado.</span>
    <br>
    <span>Programming has given me a great deal of confidence in my ability to solve problems and learn new things. There is no greater reward than when you work on a problem for days and finally solve it, or when you learn a new component of a language or framework.</span>
  </div>
  <br>
  <div class="subtitle"><p>ABOUT ME</p></div>

  <div class="description">
    <span>Practicing yogi, Whole Foods addict, Starbucks lover. I dream of Paris in the springtime with a bike basket filled with fresh flowers and a bag of rose macarons. I still believe in the power of a handwritten note and beauty of an old, hardback book. I have an odd obsession with lemons and grow my own Meyer lemons back in North Carolina.</span>
  </div>
  <br>
  <i>Currently reading: Drive, by Daniel Pink</i>
  <br>
  <i>Currently listening to: Spotify's Roots Revival Playlist</i>
</div>
