<div class="navBar">
    <span>
      <a class="navBarlinkie"href="/">H O M E</a>
      <a class="navBarlinkie" href="/about">A B O U T</a>
      <a class="navBarlinkie" href="/resume">R E S U M E</a>
      <a class="navBarlinkie" href="/projects">P R O J E C T S</a>
      <a class="navBarlinkie" href="http://blog.taylorjeveryday.com" target="_blank">B L O G</a>
      <a class="navBarlinkie" href="/contact">C O N T A C T</a>
    </span>
</div>
<div class="information">
  <div class="description">
    <h1>Taylor Smith</h1>
    <div class="aboutTay">
      <span>LinkedIn: <a href="https://www.linkedin.com/in/tsmit291" target="_blank">tsmit291</a></span>
      <br>
      <span>GitHub: <a href="https://www.github.com/tsmit291" target="_blank">/tsmit291</a><span>
      <br>
      <h5><a href="mailto:taylorjeveryday@gmail.com" subject="Site Inquiry">Reach Out via Email</a></h5>
    </div>
  </div>
</div>
