<div ng-controller="flipCtrl">
    <div class="flip">
        <div class="card" ng-class="{'flipped':isFlipped}" ng-click="isFlipped=!isFlipped">
            <div class="face front">
                <div class="title"><p>T A Y L O R J E V E R Y D A Y</p></div>
            </div>
            <div class="face back">
                <div class="menu">
                  <span>
                    <a class="linkies" href="/about">A B O U T</a>
                    <a class="linkies" href="/resume">R E S U M E</a>
                    <a class="linkies" href="/projects">P R O J E C T S</a>
                    <a class="linkies" href="http://blog.taylorjeveryday.com" target="_blank">B L O G</a>
                    <a class="linkies" href="/contact">C O N T A C T</a>
                    <hr>
                  </span>
                </div>
            </div>
        </div>
    </div>
</div>
