<div class="information">
  <div class="subtitle"><p>DENSE-ITY</p></div>
  <div class="description">
    <span>DENSITY: An assessment of world population in two and three-dimensional configurations.</span>
    <span><i>Technologies: Google Maps API // Google Geochart Visualization Library // United Nations population statistics</i></span>
    <span>Github: https://github.com/tsmit291/dense-ity</span>
  </div>
</div>
<div class="information">
  <div class="subtitle"><p>PIECE OF CAKE: REG APP</p></div>
  <div class="description">
    <span>It's a piece of cake</span>
  </div>
</div>
<div class="information">
  <div class="subtitle"><p>CONNECT ME</p></div>
  <div class="description">
    <span>Let's connect buddy</span>
  </div>
</div>
<div class="petProjects">
  <div class="subtitle"><p>PET PROJECTS</p></div>
  <div class="description">
    <span>Meteor Tutorials</span>
  </div>
</div>
