<div class="navBar">
    <span>
      <a class="navBarlinkie"href="/">H O M E</a>
      <a class="navBarlinkie" href="/about">A B O U T</a>
      <a class="navBarlinkie" href="/resume">R E S U M E</a>
      <a class="navBarlinkie" href="/projects">P R O J E C T S</a>
      <a class="navBarlinkie" href="http://blog.taylorjeveryday.com" target="_blank">B L O G</a>
      <a class="navBarlinkie" href="/contact">C O N T A C T</a>
    </span>
</div>
<div class="information">
  <div class="subtitle"><p>BUCKET LIST</p></div>
  <div class="description">
    <span>A collaborative project allowing users to make 10-item bucket lists. Users are able to search within the app and see other users' bucket lists for pictures, resources and inspiration.</span>
    <br>
    <p><i>Technologies: Express, Facebook OAuth, Knex.js, SASS, PostgreSQL, Cloudilly API</i></p>
    <span><a href="https://github.com/tsmit291/bucketlist" target="_blank">Github</a> // <a href="http://g18-bucket-list.herokuapp.com" target="_blank">View Project</a> </span>
  </div>
</div>
<div class="information">
  <div class="subtitle"><p>CONNECT-ME</p></div>
  <div class="description">
    <span>An in-process collaborative freelance project for a technical recruiter. Add new connections and how you met, search for freelancers via skillset, languages, availability and contact information.</span>
    <br>
    <p><i>Technologies: MongoDB, Express, Angular, Node.js, Satellizer.js, LinkedIn OAuth</i></p>
    <span><a href="https://github.com/tsmit291/ConnectMe" target="_blank">Github</a>
  </div>
</div>
<div class="information">
  <div class="subtitle"><p>DENSE-ITY</p></div>
  <div class="description">
    <span>An assessment of world population in two and three-dimensional configurations. Hover over a country for population then click a country to perform calculations.</span>
    <br>
    <p><i>Technologies: JavaScript, JQuery, Google Maps API, Geochart Visualization library, United Nations population statistics</i></p>
    <span><a href="https://github.com/tsmit291/dense-ity" target="_blank">Github</a> // <a href="http://dense-ity.firebaseapp.com" target="_blank">View Project</a></span>
  </div>
</div>
<!-- <div class="information">
  <div class="subtitle"><p>PIECE OF CAKE: REGISTRY APP</p></div>
  <div class="description">
    <span>A registry app to make the gift registry process a piece of cake. Select items and place them into 'needs' and 'wants' categories. Rank your favorite items and share your list with friends!</span>
    <br>
    <p><i>Technologies: Angular</i></p>
    <span><a href="https://github.com/tsmit291/dense-ity">Github</a> // <a href="http://dense-ity.firebaseapp.com">View Project</a></span>
  </div>
</div>
<div class="information">
  <div class="subtitle"><p>LEMONADE STAND</p></div>
  <div class="description">
    <span>Find lemonade stands in your neighborhood. Set up a stand, and rate other local stands.</span>
    <br>
    <p><i>Technologies: Express, Knex.js, Node.js</i></p>
    <span><a href="https://github.com/tsmit291/dense-ity">Github</a> // <a href="http://dense-ity.firebaseapp.com">View Project</a></span>
  </div>
</div>
<div class="petProjects">
  <div class="subtitle"><p>PET PROJECTS &amp; PRESENTATIONS</p></div>
  <div class="description">
    <span>Meteor Tutorials</span>
    <br>
    <span>Lemon Presentation</span>
    <br>
    <span>JavaScript Inheritance</span>
  </div>
</div> -->
