<div class="information">
  <div class="subtitle"><p>DENSITY</p></div>
  <div class="description">
    <span>DENSITY: a project about space</span>
  </div>
</div>
<div class="information">
  <div class="subtitle"><p>PIECE OF CAKE: REG APP</p></div>
  <div class="description">
    <span>It's a piece of cake</span>
  </div>
</div>
<div class="information">
  <div class="subtitle"><p>CONNECT ME</p></div>
  <div class="description">
    <span>Let's connect buddy</span>
  </div>
</div>
<div class="petProjects">
  <div class="subtitle"><p>PET PROJECTS</p></div>
  <div class="description">
    <span>Meteor Tutorials</span>
  </div>
</div>
