<div class="navBar">
    <span>
      <a class="navBarlinkie"href="/">H O M E</a>
      <a class="navBarlinkie" href="/about">A B O U T</a>
      <a class="navBarlinkie" href="/resume">R E S U M E</a>
      <a class="navBarlinkie" href="/projects">P R O J E C T S</a>
      <a class="navBarlinkie" href="http://blog.taylorjeveryday.com" target="_blank">B L O G</a>
      <a class="navBarlinkie" href="/contact">C O N T A C T</a>
    </span>
</div>
<div class="resume_information">
  <div class="subtitle"><p>RESUME</p></div>
    <object data="./graphics/resume.pdf" type="application/pdf" class="resume">
      <p>It appears you don't have a PDF plugin for this browser. No biggie friend! You can <a href="./graphics/resume.pdf">click here to download the PDF file.</a><p>
    </object>
</div>
